.navigation {
    background-color: #000;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navigation-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navigation-list li {
    margin: 0 10px;
}

.navigation-list li a {
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

.navigation-list li a:hover {
    color: white
}

.navigation-list li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FFD700;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.navigation-list li a:hover::before {
    transform: scaleX(1);
}