.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #000;
    color: #FFD700;
    margin-top: 50px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table th {
    background-color: #FFD700;
    color: #000;
}

.table td .btn-piedalities {
    padding: 5px 10px;
    background-color: #00FF00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table td .btn-labot {
    padding: 5px 10px;
    background-color: #FFFF00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table td .btn-dzest {
    padding: 5px 10px;
    background-color: #FF0000;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.table td button:hover {
    background-color: #FFD700;
    color: #000;
}